body {
    background-image:"assets/train counter.jpg"
  } 
  
  h2 {
    color: white;
    text-align: center;
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: green;
    border-radius: 5px;
  }
  
  p {
    color: white;
  }
  
  button {
    width: auto;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom : 5px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: blue;
    color: white;
  }
  
  #counter, #saved {
    text-align:center;
    color: black;
    font-weight: bold;
    font-size: larger;
    border: 5px dotted white;
    background-color: grey;
  }
  
  #increment-btn
  {
    background-color: darkgreen;
   margin: auto;
  }
  
  #save-btn
  {
  background-color: darkgreen;  
    margin: auto;
  }
  
  #refresh-btn
  {
  color: black;  
  background-color: lightgreen;
  }
  
  .container {
  display: flex;  
  justify-content: center;  
  align-items: center;  
  }
  